openapi: 3.1.0
info:
  title: meema-api
  version: '1.0'
  summary: meema-api
servers:
  - url: 'https://api.mee.ma/v1'
paths:
  /media:
    parameters: []
    get:
      summary: Fetch all media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders: []
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      operationId: get-all-media
      description: Fetch all the team's media
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          description: if you want to fetch specific media ids
      tags:
        - Media
  '/media/{id}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        description: uuid
        required: true
    get:
      summary: Fetch single media
      responses:
        '200':
          description: OK
          headers: {}
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist.
      operationId: get-media-id
      description: Fetch media by id
      tags:
        - Media
    delete:
      summary: Delete media
      operationId: delete-media-id
      responses:
        '204':
          description: No Content
      description: Delete media by id
      tags:
        - Media
  '/media/{id}/tags':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Fetch all tags of a media
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
              examples:
                example-response:
                  value:
                    - id: 7
                      name:
                        en: Home
                      slug:
                        en: home
                      type: '1'
                      order_column: 7
                      color: red-600
                      is_sidebar_tag: true
                      created_at: '2021-08-12T04:26:13.000000Z'
                      updated_at: '2021-08-12T04:26:13.000000Z'
                      deleted_at: null
                    - id: 8
                      name:
                        en: Images
                      slug:
                        en: images
                      type: '1'
                      order_column: 8
                      color: purple-600
                      is_sidebar_tag: true
                      created_at: '2021-08-12T04:26:13.000000Z'
                      updated_at: '2021-08-12T04:26:13.000000Z'
                      deleted_at: null
      operationId: get-tags-media-id
      description: Fetch all tags of a media by id
      tags:
        - Media
  '/media/{id}/file-name':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    patch:
      summary: Update media name
      operationId: update-media-id-name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Update media name by id
      parameters:
        - schema:
            type: string
          in: query
          name: name
          required: true
      tags:
        - Media
  'media/{id}/folders/{folderId}':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
      - schema:
          type: string
        name: folderId
        in: path
        required: true
    delete:
      summary: Delete folder from media
      operationId: delete-media-id-folder-id
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
      description: Delete folder from media by id
      tags:
        - Media
  /media/search:
    parameters: []
    post:
      summary: Media search
      operationId: post-media-search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      description: Search media by name
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: media name
      tags:
        - Media
  '/media/{id}/archive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Media archive
      operationId: post-media-id-archive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: true
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Archive media by id
      tags:
        - Media
  '/media/{id}/unarchive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Media unarchive
      operationId: post-media-id-unarchive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
      description: Unarchive media by id
      tags:
        - Media
  /bulk/media/archive:
    parameters: []
    post:
      summary: Bulk media archive
      operationId: post-media-bulk-archive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: true
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Archive media by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  /bulk/media/unarchive:
    parameters: []
    post:
      summary: Bulk media unarchive
      operationId: post-media-bulk-unarchive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: true
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      description: Unarchive media by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  /bulk/media/delete:
    parameters: []
    post:
      summary: Bulk media delete
      operationId: post-media-bulk-delete
      responses:
        '204':
          description: No Content
      description: Delete media by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  'media/{id}/tag/attach':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Attach media to tag
      operationId: post-media-id-attach-tag
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: true
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Attach media to tag by id
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: tag name
          required: true
      tags:
        - Media
  'media/{id}/tag/detach':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Detach media from tag
      operationId: post-media-id-detach-tag
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: true
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: 'Detach media from tag by id '
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: tag name
          required: true
      tags:
        - Media
  'media/{id}/tag/toggle':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Toggle attach/detach media to tag
      operationId: post-media-id-attach-detach-tag
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: true
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Toggle attach/detach media to tag by id
      parameters:
        - schema:
            type: string
          in: query
          name: tag_id
          required: true
      tags:
        - Media
  '/media/{id}/make-private':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    patch:
      summary: Media private
      operationId: patch-media-id-make-private
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: false
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Make media private by id
      tags:
        - Media
  /bulk/media/make-private:
    parameters: []
    post:
      summary: Bulk media make private
      operationId: post-media-bulk-private
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: false
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      description: Make media private by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  '/media/{id}/make-public':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    patch:
      summary: Media public
      operationId: patch-media-id-make-public
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Make media public by id
      tags:
        - Media
  /bulk/media/make-public:
    parameters: []
    post:
      summary: Bulk media make public
      operationId: post-media-bulk-public
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      description: Make media public by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  '/media/{id}/duplicate':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Duplicate media
      operationId: post-media-id-duplicate
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: true
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
        '404':
          description: Media doesn't exist
      description: Duplicate media by id
      tags:
        - Media
  '/media/{id}/folders':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Add media to folder
      operationId: post-media-id-folders
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Media'
              examples:
                example-1:
                  value:
                    id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
      description: Add media to folder by id
      parameters:
        - schema:
            type: string
          in: query
          name: folder_name
          required: true
      tags:
        - Media
  /bulk/media/duplicate:
    parameters: []
    post:
      summary: Bulk media duplicate
      operationId: post-media-bulk-duplicate
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      description: Duplicate media by bulk
      parameters:
        - schema:
            type: array
          in: query
          name: media_ids
          required: true
      tags:
        - Media
  /folders:
    get:
      summary: Fetch all folders
      tags:
        - Folders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    - id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                      name: Summer Images
                      slug: summer-images
                      total_file_size: 23100000
                      total_amount_of_files: 92
                      order: 1
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
                      created_at: '2021-08-12T04:27:28.000000Z'
                    - id: 12f638a5-cef3-4034-bdd5-a8e3d92cae80
                      name: Dog Videos
                      slug: dog-videos
                      total_file_size: 831202300
                      total_amount_of_files: 123
                      order: 2
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
                      created_at: '2021-08-12T04:27:28.000000Z'
      operationId: get-folders
      description: Fetch all the team's folders
      parameters:
        - schema:
            type: array
          in: query
          name: folder_ids
          description: if you want to fetch specific folder ids
  '/folders/{id}':
    get:
      summary: Fetch single folder
      tags:
        - Folders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Folder doesn't exist.
      operationId: get-folder-id
      description: Fetch folder by id
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    patch:
      summary: Update folder name
      operationId: patch-folders-id-name
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '400':
          description: Bad Request
        '422':
          description: ''
      description: Update folder name by id
      parameters:
        - schema:
            type: string
          in: query
          name: name
          required: true
      tags:
        - Folders
    delete:
      summary: Delete folder
      operationId: delete-folders-id
      responses:
        '204':
          description: No Content
      description: Delete folder by id
      tags:
        - Folders
  '/folders/{token}/':
    parameters:
      - schema:
          type: string
        name: token
        in: path
        required: true
    post:
      summary: Create folder
      operationId: post-folders-token
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '422':
          description: Unprocessable Entity (WebDAV)
      description: Create custom folder for the team
      parameters:
        - schema:
            type: string
          in: query
          name: name
          description: folder name
          required: true
      tags:
        - Folders
  '/folder/{id}/media':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Fetch all media of a folder
      tags:
        - Folders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Media'
              examples:
                example-response:
                  value:
                    - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                      name: michaeljackson
                      mime_type: image/jpeg
                      file_size: 37226
                      uri: glenn/1/pg4I911/michaeljackson.jpg
                      upload_id: pg4I911
                      media_id: 1
                      blur_sh: null
                      tags:
                        - images
                      folders:
                        - summer-images
                        - iphone-media
                        - business
                        - birthday-party-2020
                        - birthday-party-2019
                      conversion_status: null
                      conversions: []
                      recognition:
                        labels: null
                        faces: null
                        moderation: null
                        texts: null
                      users: []
                      meta_data:
                        menus: []
                        audios: []
                        images:
                          - count: '124'
                            format:
                              fullName: WebP
                              shortName: WebP
                            kind_of_stream:
                              fullName: Image
                              shortName: Image
                            commercial_name: WebP
                            stream_identifier: '0'
                            count_of_stream_of_this_kind: '1'
                        others: []
                        videos: []
                        general:
                          count: '331'
                          format:
                            fullName: WebP
                            shortName: WebP
                          file_name: michaeljackson
                          file_size:
                            bit: 37226
                          folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                          codecs_image: WebP
                          complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                          file_extension: jpg
                          kind_of_stream:
                            fullName: General
                            shortName: General
                          commercial_name: WebP
                          image_format_list: WebP
                          stream_identifier: '0'
                          file_name_extension: michaeljackson.jpg
                          count_of_image_streams: '1'
                          image_format_withhint_list: WebP
                          count_of_stream_of_this_kind: '1'
                        version: '21.03'
                        subtitles: []
                      last_opened_at: '2021-08-11T05:03:24.000000Z'
                      is_public: true
                      is_trashed: false
                      is_archived: false
                      updated_at: '2021-08-11T05:03:24.000000Z'
                      created_at: '2021-08-11T05:02:12.000000Z'
      operationId: get-media-folder-id
      description: Fetch all media of a folder
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/Media'
            examples:
              example-response:
                value:
                  - id: 13c165f9-f362-4124-b631-3fc872e13a1a
                    name: michaeljackson
                    mime_type: image/jpeg
                    file_size: 37226
                    uri: glenn/1/pg4I911/michaeljackson.jpg
                    upload_id: pg4I911
                    media_id: 1
                    blur_sh: null
                    tags:
                      - images
                    folders:
                      - summer-images
                      - iphone-media
                      - business
                      - birthday-party-2020
                      - birthday-party-2019
                    conversion_status: null
                    conversions: []
                    recognition:
                      labels: null
                      faces: null
                      moderation: null
                      texts: null
                    users: []
                    meta_data:
                      menus: []
                      audios: []
                      images:
                        - count: '124'
                          format:
                            fullName: WebP
                            shortName: WebP
                          kind_of_stream:
                            fullName: Image
                            shortName: Image
                          commercial_name: WebP
                          stream_identifier: '0'
                          count_of_stream_of_this_kind: '1'
                      others: []
                      videos: []
                      general:
                        count: '331'
                        format:
                          fullName: WebP
                          shortName: WebP
                        file_name: michaeljackson
                        file_size:
                          bit: 37226
                        folder_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911'
                        codecs_image: WebP
                        complete_name: 'https://dev-cdn.mee.ma/glenn/1/pg4I911/michaeljackson.jpg'
                        file_extension: jpg
                        kind_of_stream:
                          fullName: General
                          shortName: General
                        commercial_name: WebP
                        image_format_list: WebP
                        stream_identifier: '0'
                        file_name_extension: michaeljackson.jpg
                        count_of_image_streams: '1'
                        image_format_withhint_list: WebP
                        count_of_stream_of_this_kind: '1'
                      version: '21.03'
                      subtitles: []
                    last_opened_at: '2021-08-11T05:03:24.000000Z'
                    is_public: true
                    is_trashed: false
                    is_archived: false
                    updated_at: '2021-08-11T05:03:24.000000Z'
                    created_at: '2021-08-11T05:02:12.000000Z'
          application/xml:
            schema:
              type: object
              properties: {}
            examples: {}
  '/folders/{id}/tags':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    get:
      summary: Fetch all tags of a folder
      tags:
        - Folders
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Tag'
              examples:
                example-response:
                  value:
                    - id: 7
                      name:
                        en: Home
                      slug:
                        en: home
                      type: '1'
                      order_column: 7
                      color: red-600
                      is_sidebar_tag: true
                      created_at: '2021-08-12T04:26:13.000000Z'
                      updated_at: '2021-08-12T04:26:13.000000Z'
                      deleted_at: null
                    - id: 8
                      name:
                        en: Images
                      slug:
                        en: images
                      type: '1'
                      order_column: 8
                      color: purple-600
                      is_sidebar_tag: true
                      created_at: '2021-08-12T04:26:13.000000Z'
                      updated_at: '2021-08-12T04:26:13.000000Z'
                      deleted_at: null
      operationId: get-tags-folder-id
      description: Fetch all tags of a folder by id
  /folders/search:
    post:
      summary: Folder search
      operationId: post-folder-search
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    - id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                      name: Summer Images
                      slug: summer-images
                      total_file_size: 23100000
                      total_amount_of_files: 92
                      order: 1
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
                      created_at: '2021-08-12T04:27:28.000000Z'
                    - id: 12f638a5-cef3-4034-bdd5-a8e3d92cae80
                      name: Dog Videos
                      slug: dog-videos
                      total_file_size: 831202300
                      total_amount_of_files: 123
                      order: 2
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
                      created_at: '2021-08-12T04:27:28.000000Z'
      description: Search folder by name
      tags:
        - Folders
      parameters:
        - schema:
            type: string
          in: query
          name: query
          description: folder name to search
          required: true
  '/folders/{id}/archive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Folder archive
      operationId: post-folder-id-archive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: true
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Media doesn't exist
      description: Archive folder by id
      tags:
        - Folders
  '/folders/{id}/unarchive':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Folder unarchive
      operationId: post-folder-id-unarchive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Media doesn't exist
      description: Unarchive folder by id
      tags:
        - Folders
  '/folder/{id}/duplicate':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Duplicate folder
      operationId: post-folder-id-duplicate
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Media doesn't exist
      description: Duplicate folder by id
      tags:
        - Folders
  '/folder/{id}/tag/attach':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Attach folder to tag
      operationId: post-folder-id-attach-tag
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Folder doesn't exist
      description: Attach folder to tag by id
      parameters:
        - schema:
            type: string
          in: query
          name: tag_id
          required: true
      tags:
        - Folders
  '/folder/{id}/tag/detach':
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
    post:
      summary: Detach folder from tag
      operationId: post-folder-id-detach-tag
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                    name: Summer Images
                    slug: summer-images
                    total_file_size: 23100000
                    total_amount_of_files: 92
                    order: 1
                    tags:
                      - images
                    is_archived: false
                    last_opened_at: '2021-08-12T04:27:28.000000Z'
                    updated_at: '2021-08-12T04:27:28.000000Z'
                    created_at: '2021-08-12T04:27:28.000000Z'
        '404':
          description: Folder doesn't exist
      description: Detach folder from tag by id
      parameters:
        - schema:
            type: string
          in: query
          name: tag_id
          required: true
      tags:
        - Folders
  /bulk/folders/unarchive:
    parameters: []
    post:
      summary: Bulk folders unarchive
      operationId: post-folders-bulk-unarchive
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
              examples:
                example-response:
                  value:
                    - id: 421cc1b1-ec59-4e4f-ba3f-d0f1f23de6f9
                      name: Summer Images
                      slug: summer-images
                      total_file_size: 23100000
                      total_amount_of_files: 92
                      order: 1
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
                      created_at: '2021-08-12T04:27:28.000000Z'
                    - id: 12f638a5-cef3-4034-bdd5-a8e3d92cae80
                      name: Dog Videos
                      slug: dog-videos
                      total_file_size: 831202300
                      total_amount_of_files: 123
                      order: 2
                      tags:
                        - images
                      is_archived: false
                      last_opened_at: '2021-08-12T04:27:28.000000Z'
                      updated_at: '2021-08-12T04:27:28.000000Z'
[...]
